    *{
      margin: 0px;
      padding: 0px;
    }
    .iweb-utw-box{
      width:100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      background:rgb(0,0,0,0.3);
    }
    .iweb-utw-box-smallBox{
      width: 80%;
      height: auto;
      padding: 10px;
      background: #ffffff;
      border-radius: 5px;
      box-shadow:#cacaca 1px 1px 3px 0px;
    }
    .iweb-utw-title{
      display: flex;
      justify-content: center;
      align-items:center;
    }
    .iweb-utw-content{
      overflow-y:auto;
      max-height: 150px;
      color: rgb(0,0,0,0.5);
      display: flex;
      justify-content: center;
      align-items:center;
      margin: 20px 0px 20px 0px;
    }
    .iweb-utw-button{
      display: flex;
      align-items: sretch;
    }
    .iweb-utw-button button{
      width: 100%;
      margin: 0px 10px 0px 10px;
      height: 40px;
      border: 0px;
      border-radius: 20px;
    }
    .iweb-utw-button button:nth-child(1){
      background: rgb(240,240,240);
      outline:none;
    }
    .iweb-utw-button button:nth-child(2){
      background: rgb(51,161,201);
      color: #ffffff;
      outline:none;
    }
    .iweb-utw-button button:nth-child(1):active,
    .iweb-utw-button button:nth-child(2):active{
      background: rgb(200,200,200);
    }
    .switch{
      color:#ffffff;
      width: 200px;
      margin: 20px;
      height: 40px;
      border: 0px;
      border-radius: 20px;
      background: rgb(51,161,201);
      outline:none;
    }